@charset "UTF-8";

/* Reset básico */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ======== CABEÇALHO ======== */
.pdv-header {
    background-color: #111;
    border-bottom: 3px solid #370504;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-texto {
    font-size: 1.8rem;
    font-weight: 900px;
    letter-spacing: 2px;
}

.logo-texto span {
    color: #ff9900;
    font-weight: normal;
}

.info-operador {
    font-size: 1.1rem;
    display: flex;
    gap: 30px;
    align-items: center;
}

.status-caixa {
    background-color: #0a2a0a;
    color: #00ff00;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #00ff00;
    font-weight: bold;
}

/* ======= CONTAINER PRINCIPAL ======= */
.pdv-container {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

/* ========= LADO ESQUERDO ========== */
.painel-esquerdo {
    flex: 2;
    /* ocupa 2/3 da tela */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-leitor {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #222;
}

.area-leitor label {
    display: block;
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.area-leitor input {
    width: 100%;
    padding: 15px;
    font-size: 1.8rem;
    background-color: #000;
    border: 2px solid #555;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.area-leitor input:focus {
    outline: none;
    border-color: #ff9900;
    box-shadow: 0px 0px 15px rgba(255, 153, 0, 0.3);
}

/* Tabela Cupom Fiscal */
.area-cupom {
    background-color: #0a0a0a;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #222;
    overflow-y: auto;
}

.tabela-itens th {
    background-color: #1a1a1a;
    color: #aaa;
    text-align: left;
    padding: 15px;
    border-bottom: 2px solid #333;
    font-size: 0.9rem;
}

.tabela-itens td {
    padding: 15px;
    border-bottom: 1px solid #111;
    font-size: 1.1rem;
}

.tabela-itens tbody tr:hover {
    background-color: #111;
}

/* ========== LADO DIREITO ========== */
.painel-direito {
    flex: 1;
    /* Ocupa 1/3 da tela */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.areaDoCliente {
    margin-bottom: 20px;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #333;
}

.nomeDoCliente {
    color: #ff9900;
    font-weight: bold;
    font-size: 14px;
}

.btnNome {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

/* Totalizador */
.area-total {
    background-color: #111;
    padding: 30px 20px;
    border-radius: 8px;
    border: 2px solid #370504;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(55, 5, 4, 0.6);
}

.area-total h2 {
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.valor-gigante {
    color: #ff9900;
    font-size: 3.5rem;
    /* numero grandão */
    font-weight: 900px;
}

/* botão de pagamento */

.area-pagamento {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.area-pagamento h3 {
    color: #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: center;
}

.botoes-pagamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.btn-pgto {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    padding: 20px 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pgto:hover {
    background-color: #333;
    border-color: #fff;
}

.btn-pgto.fiado {
    background-color: #370504;
    border-color: #ff3333;
}

.btn-pgto.fiado:hover {
    background-color: #5a0806;
}

/* ações finais */
.area-acoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-finalizar {
    background-color: #ff9900;
    color: #000;
    font-size: 1.5rem;
    font-weight: 900px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-finalizar:hover {
    background-color: #e68a00;
    transform: scale(1.02);
}

.btn-cancelar {
    background-color: transparent;
    color: #ff3333;
    font-size: 1.1rem;
    padding: 15px;
    border: 1px solid #ff3333;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cancelar:hover {
    background-color: #330000;
}

/* ==========================================
   JANELA DE PESQUISA (MODAL)
   ========================================== */

.modal-oculto {
    display: none;
    /* Esconde o modal por padrão */
    position: fixed;
    z-index: 999;
    /* fica por cima de tudo */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-conteudo {
    background-color: #121212;
    margin: 5% auto;
    /* centraliza na tela */
    padding: 20px;
    border: 2px solid #ff9900;
    border-radius: 8px;
    width: 70%;
    color: white;
    box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.4);
}

.model-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn-fechar {
    cursor: pointer;
    color: #ff4444;
    font-weight: bold;
}

#input-pesquisa-nome {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tabela-pesquisa {
    width: 100%;
    border-collapse: collapse;
}

.tabela-pesquisa th,
.tabela-pesquisa td {
    padding: 12px;
    text-align: left;
    border-bottom: 1 px solid #333;
}

/* Efeito de brilho quando a Lauanda passar o mouse no produto */
.tabela-pesquisa tr:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}